@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar Cleanly */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  